@import url('https://fonts.cdnfonts.com/css?family=daxlinepro:wght@400;500;600;700');
/* @import url('https://fonts.cdnfonts.com/css?family=boowie:wght@400'); */
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Raleway:wght@300;400;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/autography');


:root {
  /* --daxline: 'DaxlinePro', sans-serif;
  --boo: 'BOOWIE', sans-serif; */
  --daxline: 'Raleway', sans-serif;
  ;
  --boo: 'Italiana', serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1040px;
}


header,
footer {
  background-color: #2B3127;
}

/* Header Start */

.navbar {
  --bs-navbar-color: #A89B8A;
  padding: 0;
}


.nav-link {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--daxline) !important;
  padding: 0;
}

.navbar-nav {
  gap: 52px;
}

.nav-link:hover {
  color: #A89B8A;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.nav-link:active,
.nav-link:focus {
  color: #DCD2C4;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-toggler {
  border: none;
}

:focus-visible {
  outline: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 99999999;
}

/* Header End */


/* Footer Start */
.foo_inner {
  padding: 18px 0 25px 0;
}

.foo_link {
  gap: 55px;
  margin-bottom: 20px;
}

.foo_inner a {
  color: #A89B8A;
  text-align: center;
  font-family: var(--boo) !important;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.foo_inner a:hover {
  text-decoration: underline;
}

.foo_inner p {
  color: #A89B8A;
  text-align: center;
  font-family: var(--daxline) !important;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

/* Footer End */


/* Index Page Start */

/* Hero Start */
.hero_outter {
  height: 670px;
  /* margin-top: 110px; */
}



.hero {
  background-image: linear-gradient(90deg, #2B3127 50%, rgba(255, 255, 255, 0) 0);
  height: 340px;
}

.hero_inner_text {
  padding-top: 35px;

}

.hero_inner_text h1 {
  color: #2B3127;
  text-align: center;
  font-family: var(--boo) !important;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero span,
.hero article span,
.about_dark span,
.coaching_hero span {
  color: #272721;
  text-align: center;
  display: block;
  font-family: 'Autography', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}

.hero_inner_text p {
  color: #000;
  text-align: center;
  font-family: var(--daxline) !important;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.reading_btn {
  display: block;
  margin: auto;
  color: #2B3127;
  text-align: center;
  font-family: var(--daxline) !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  padding: 8px 34px !important;
  border: 1px solid #2B3127;
  background: #FFF;
  white-space: nowrap;
  max-width: 150px;
  cursor: pointer;
}

.reading_btn:hover {
  background: rgba(43, 49, 39, 0.05);
}

.reading_btn>.active {
  background-color: #2B3127;
  color: #FFF;
}

.hero article p {
  color: #2B3127;
  text-align: center;
  font-family: var(--boo) !important;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

/* Hero End */

/* About me Start */
.about_me_inner img,
.coaching_inner img,
.contact_inner img {
  max-width: 224px;
  object-fit: cover;
}


.mb_140 {
  margin-bottom: 120px;
}

.about_me {
  background-color: #2B3127;
  padding: 63px;
}

.about_me p,
.coaching p,
.contact p {
  color: #A89B8A;
  font-family: var(--daxline) !important;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.coaching p,
.contact p {
  color: #2B3127;
}

.about_me .reading_btn,
.client_review a {
  color: #A89B8A;
  border: 1px solid #A89B8A;
  background: rgba(255, 255, 255, 0.00);
  transition: .3s ease-in-out;
  cursor: pointer;
}

.about_me .reading_btn:hover,
.client_review a:hover {
  background: #A89B8A;
  color: #2B3127;
  text-decoration: none;
}

.about_me a>.active,
.client_review a:hover>.active {
  background: #A89B8A;
  color: #2B3127;
  border: 1px solid #2B3127;
  ;
}

.coaching .reading_btn {
  color: #2B3127;
}

.coaching .reading_btn:hover {
  text-decoration: none;
}

.about_me h3,
.coaching h3,
.client_review h3,
.contact h3 {
  color: #A89B8A;
  font-family: var(--boo) !important;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.8px;
  display: block;
  text-transform: uppercase;
}


/* .about_me a:hover,
.coaching a:hover {
  text-decoration: underline;
} */

.coaching a,
.coaching_inner h3,
.contact h3,
.contact a {
  color: #2B3127 !important;
}


/* About me End */

/* Walk and Talk Start */

.walk_talk p {
  color: #272721;
  text-align: center;
  font-family: var(--boo) !important;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
}


.imageContainer {
  width: 292px;
  height: 292px;
  position: relative;
  margin: auto !important;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



.imageContainer::before {
  position: absolute;
  content: attr(data-content);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(43, 49, 39, 0.67);
  backdrop-filter: blur(7.5px);
  color: white;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;
  font-size: 12px;
}



.talk:hover .imageContainer::before {
  visibility: visible;
  opacity: 1;
}


.overlay p {
  color: #FFF;
  text-align: center;
  font-family: var(--daxline) !important;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  height: 100%;
}



/* Walk and Talk End */


/* Client Review Start */

.client_review {
  background-image: url("./assets/client_review.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 44px 37px;
  height: 620px;
}

.client_review p {
  color: #A89B8A;
  text-align: center;
  font-family: var(--daxline) !important;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.client_review span {
  display: block;
  color: #A89B8A;
  text-align: center;
  font-family: var(--boo) !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

/* Client Review End */


/* contact Start */


.contact button {
  background-color: #2B3127;
  color: #FFF;
  transition: .3s ease-in-out;
}

.contact button:hover {
  background-color: #1E211C;
}

.contact button>.active {
  background-color: #40493A;
}



/* contact End */

/* Index Page Start */



/* About Page Start */
.about_outter {
  background-image: linear-gradient(90deg, #2B3127 51%, rgba(255, 255, 255, 0) 0);
  height: 100px;
}

.about_hero,
.coaching_hero {
  margin-top: -100px;
}

.about_hero h1,
.coaching_hero h1 {
  color: #A89B8A;
  font-family: var(--boo) !important;
  font-size: 40px;
  font-weight: 400;
  padding: 27px 0;
  text-transform: uppercase;
}


.about_hero p,
.coaching_hero p,
.coaching_bottom p , .coaching_bottom ul li{
  color: #000;
  font-family: var(--daxline) !important;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}


.coaching_bottom ul li{
  list-style: disc;
}

.about_inner {
  /* padding-top: 41.5px; */
  padding-bottom: 41px;
}

.about_dark {
  background-color: #2B3127;
  padding-top: 57px;
  padding-bottom: 57px;
}

.coaching_hero article {
  background-color: #2B3127;
  padding-top: 57px;
  padding-bottom: 57px;
}

.about_dark p,
.coaching_hero article p {
  color: #A89B8A;
  text-align: center;
  font-family: var(--boo) !important;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.about_dark span,
.coaching_hero span {
  color: #A89B8A;
  margin-bottom: 0;
}

.about_bottom p {
  color: #000;
  font-family: var(--daxline) !important;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.next_btn button {
  padding: 6px 15px;
  color: #2B3127;
  text-align: center;
  font-family: var(--daxline) !important;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  border: 1px solid #2B3127;
  background: #FFF;
}

.next_btn button:hover {
  background: rgba(43, 49, 39, 0.05);
}

.next_btn button .active {
  background: #2B3127;
  color: #FFF;
}

.after_btn {
  color: #FFF !important;
  background-color: #2B3127 !important;
}

.after_btn:hover {
  background: #1E211C !important;
}

.after_btn .active {
  background: #40493A;
}

/* About Page End */

/* Coaching Page Start */



.coachingSub {
  font-family: var(--daxline) !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
}


/* Coaching Page End */

/* Contact Start */

.privacyPolicy:hover {
  text-decoration: underline;
  color: #2B3127;
}

.darkBox {
  height: 140px;
  background-image: linear-gradient(90deg, #2B3127 51%, rgba(255, 255, 255, 0) 0);
}

.contactAll img {
  margin-top: -140px;
}

.contactAll h2,
.imprint h2 {
  color: #2B3127;
  text-align: center;
  font-family: var(--boo) !important;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

.contactAll label {
  color: #000;
  font-family: var(--daxline) !important;
  font-size: 12px;
  font-weight: 350;
  line-height: 20px;
}

.contactAll input {
  border: .5px solid #2B3127;
  background: rgba(168, 155, 138, 0.05);
  padding: 5px;
  color: #000;
  font-family: var(--daxline) !important;
  font-size: 12px;
  font-weight: 350;
  line-height: 20px;
}

.contactAll :focus-visible {
  outline: none;
}

.contactAll textarea {
  border: .5px solid #2B3127;
  background: rgba(168, 155, 138, 0.05);
  padding: 5px;
  color: #000;
  font-family: var(--daxline) !important;
  font-size: 12px;
  font-weight: 350;
  line-height: 20px;
}

.confirmForm p {
  color: #000;
  font-family: var(--daxline) !important;
  font-size: 12px;
  font-weight: 350;
  line-height: 20px;
}

.confirmForm input.checkBox {
  width: 20px !important;
  height: 20px;
}

.confirmForm input {
  accent-color: rgba(168, 155, 138, 0.05);
  ;
}


/* Contact End */

/* imprint Start */

.darkBoxImprint {
  height: 10px;
  background-image: linear-gradient(90deg, #2B3127 51%, rgba(255, 255, 255, 0) 0);
}

.imprint h6 {
  display: block;
  color: #000;
  font-family: var(--daxline) !important;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.imprint p,
.imprint a,
.imprint ul li {
  color: #000;
  font-family: var(--daxline) !important;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.imprint a:hover {
  text-decoration: underline;
}

/* imprint End */

/* Privacy Policy Start */
.imprint h5,
.quelle {
  color: var(--catha-rock, #272721);
  font-family: var(--daxline) !important;
  font-size: 20px !important;
  font-weight: 400;
  letter-spacing: 2px;
}

.imprint ul li {
  list-style: disc !important;
  margin-left: 18px;
}

/* Privacy Policy End */






@media only screen and (max-width:1024px) {
  .coaching_hero img {
    width: 100% !important;
    height: auto;
  }


}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px) {
  .navbar-nav {
    gap: 20px;
  }

  .hero_outter {
    height: 940px;
  }


  .client_review {
    height: 500px;
  }


  /* About Page Start */

  .about_hero p,
  .coaching_hero p,
  .coaching_bottom p,
  .about_me p,
  .coaching p,
  .contact p,
  .hero_inner_text p,
  .imprint p,
  .imprint a {
    font-weight: 400;
  }

  .about_outter {
    height: 70px;
  }

  .about_hero,
  .coaching_hero {
    margin-top: -70px;
  }

  .about_hero h1,
  .coaching_hero h1 {
    padding: 10px 0 10px 0;
    font-size: 30px;
  }

  .about_inner {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .about_dark {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .about_dark span {
    margin-bottom: 0;
  }

  .about_dark p {
    font-size: 15px;
  }

  .about_hero img {
    object-fit: cover;
  }

  /* About Page End */

  .coaching_hero img {
    object-fit: cover;
  }

  .coachingDes {
    margin-top: 20px;
  }

  .coachingInner {
    margin-top: 35px;
  }

  .coaching_hero article {
    padding-bottom: 16px;
  }

  .confirmForm {
    flex-direction: column;
    gap: 10px;
    align-items: start !important;
  }

}

@media only screen and (max-width:600px) {

  .contact_inner,
  .coaching_inner,
  .about_me_inner {
    align-items: center;
    flex-direction: column;
  }

  .navbar-brand img {
    width: 300px;
  }

  .hero {
    height: 450px;
  }

  .hero_inner_text h1 {
    margin-top: 50px;
  }

  .about_me h3,
  .coaching h3,
  .client_review h3,
  .contact h3 {
    font-size: 30px;
    line-height: 35px;
  }

  .hero_outter {
    height: 975px;
  }


  .hero article p {
    font-size: 25px;
    line-height: 36px;
  }

  .mb_140 {
    margin-bottom: 50px;
  }

  


  .foo_link {
    gap: 36px;
  }

  /* about page Start */


  .contactAll h2 {
    font-size: 25px;
    padding-top: 10px;
  }

  .contactAll h2,
  .imprint h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width:425px) {
  .hero {
    height: 350px;
  }

  .coaching_hero_outter {
    height: 660px;
  }

  .about_hero h1,
  .coaching_hero h1 {
    font-size: 25px;
  }

}


@media only screen and (max-width:375px) {
  .navbar-brand img {
    width: 250px;
  }

  .hero_outter {
    height: 1010px !important;
  }

  .hero {
    height: 300px;
  }

  .foo_link {
    gap: 20px;
  }


  .coaching_hero_outter {
    height: 690px;
  }
}

@media only screen and (max-width:320px) {
  .navbar-brand img {
    width: 200px;
  }

  .nav-link {
    font-size: 10px;
  }

  .hero_outter {
    height: 1010px !important;
  }

  .hero {
    height: 226px;
  }

  .hero_inner_text {
    padding: 0;
  }

  .foo_link {
    gap: 20px;
  }

  .coaching_hero_outter {
    height: 800px;
  }


  .coachingNext {
    flex-direction: column;
    gap: 12px;
  }

}